h1 {
  font-family: helvetica;
}
body {
  background-color: #87b0d9;
}
p {
  color: navy;
  size: 30px;
  text-align: left;

}
img {
  float: right;
  zoom: 50%;
}
p#something-else {
  background-color: #d68d4c;
  color: black;
  size:24px;

}

p.more-content {
  font-size:30px;
  color: #ef6ce7;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}
#something-else {
  border: 10px solid #d68d4c;
}
