h1 {
  font-family: fantasy;
}
body {
  background-color:grey;
}

p {
  color: #a7ff94;
  size: 30px;
  text-align: left;
  text-decoration-color: #00ff00;
}


p.welcome {
  font-size:35px;
  color: #ef6be7;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

p#something-else {
  background-color: #d68d4c;
  color: black;
}

#something-else {
  border: 10px solid #d68d4c;

}

h3 {
  padding: 1.5%;
  font-family: fantasy;
}
img {
  float: right;
  zoom: 50%;
}
.lists {
  color: #FF75A3;
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
  font-family: serif;
  list-style-type: none;
}


ol.orderedList {
  font-size: 18px;
  text-shadow: none;
  color: black;
}
